body {
  margin: 0;
  background: rgb(247, 45, 45) ;
}

* {
  box-sizing: border-box;
}

.header {
  background: #8f57fd;
  color: white;
  height: 130px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.header__img {
  margin-left: 10px;
  width: 190px;
}

.header__menu {
}
.header__menu ul {
  display: none;
  list-style: none;
  padding: 0px;
  position: absolute;
  width: 100px;
  text-align: right;
  margin: 10px 0px 0px -30px;
}
.header__menu:hover ul, ul:hover {
  display: block;
}
.header__menu li {
  margin: 6px 0px;
}
.header__menu li a {
  color: white;
  text-decoration: none;
}
.header__menu li a:hover {
  text-decoration: underline;
}
.header__menu--profile {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 30px;
}
.header__menu--profile img {
  width: 30px;
  margin-right: 4px;
}
.header__menu--profile p {
  margin: 0px;
  color: red;
}
